.review-style {
  margin: 10px;
}

.review-container{
  margin-left: 50px;
}

.review-footer {
  margin-top: 50px;
  margin-bottom: -35px;
}

.review-date {
  margin-left: 30px;
}

.footer-color {
  color: cornflowerblue
}