<img class="card-img-top" src="{{product.image}}" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">{{product.name}}</h5>
  <p class="card-text text-p">{{product.description}}</p>
</div>
<div class="card-footer">
  <small class="text-muted">{{product.weight}} gr</small>
  <button type="button" class="btn btn-primary float-right btn-sm custom-button" *ngIf="!authService.isAdmin()" routerLink="/product/details/{{product._id}}">Details</button>
  <button type="button" class="btn btn-warning float-right btn-sm custom-button" *ngIf="!authService.isAdmin()" (click)="addToCart()">Order</button>
  <button class="btn btn-danger float-right btn-sm custom-button" *ngIf="authService.isAdmin()" (click)="openDeleteProductModal()"><i class="fa fa-trash"></i></button>
  <button class="btn btn-warning float-right btn-sm custom-button" *ngIf="authService.isAdmin()" routerLink="/admin/product/edit/{{product._id}}"><i class="fa fa-edit"></i></button>
</div>