<div class="container" style="padding-top: 25px;" *ngIf="orders">
  <h1 class="text-center">My Orders</h1>
  <div class="row" style="padding-top: 25px;">
    <div class="col-md-12">
      <div class="box">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody *ngIf="orders.length > 0; else notFound">
              <tr *ngFor="let o of orders |  paginate: {
                  id: 'allOrders',
                  itemsPerPage: pageSize,
                  currentPage: currentPage
                }; trackBy: trackByIds; let i = index">
                <td>{{i + 1 + (currentPage-1)*5}}</td>
                <td>{{toLocaleString(o.date)}}</td>
                <td>$ {{getTotalSum(o.products).toFixed(2)}}</td>
                <td><span class="label label-info">{{o.status}}</span>
                </td>
                <td>
                  <a routerLink="/orders/details/{{o._id}}" class="btn btn-outline-warning btn-sm">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    class="paginator"
    id="allOrders"
    (pageChange)="changePage($event)"
    maxSize="9"
    directionLinks="true"
    autoHide="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
  </pagination-controls>
  <ng-template #notFound>
    <h3 class="text-warning">{{notFoundMessage}}</h3>
  </ng-template>
</div>
