<div class="container">
  <div class="row">
    <div *ngIf="products.length > 0; else notFound" class="row space-top">
      <div [@productList] *ngFor="let product of products | paginate: {
        id: 'allProducts',
        itemsPerPage: pageSize,
        currentPage: currentPage
      }; trackBy: trackByIds" class="card product-card">
        <app-product-card [product]='product'></app-product-card>
      </div>
    </div>
    <ng-template #notFound>
      <span>No products found.</span>
    </ng-template>
  </div>
  <pagination-controls
    class="paginator"
    id="allProducts"
    (pageChange)="changePage($event)"
    maxSize="9"
    directionLinks="true"
    autoHide="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>
