.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f3b455e5;
  text-align: center;
}

.big-icon{
  font-size: 30px;
  margin-left: 15px;
}

.github-link{
  color: black;
}